# default parameters
parameters:


# settings for sessions
session:
	name: drago-project
	expiration: 14 days
	savePath: '%tempDir%/sessions'


# application settings
application:

	# application mapping
	mapping:
		*: [App, Module\*, Presenter\*Presenter]


# enabling system container for Tracy bar
di:
	debugger: yes


# application extensions
extensions:
	- Drago\Localization\DI\TranslatorExtension(%appDir%/Locale)


# automatic class registration
search:
	section:
		in: %appDir%/Service/Repository
		classes:
			- *Repository
