# default parameters
parameters:


# settings for sessions
session:
	name: drago-project
	expiration: 14 days
	savePath: '%tempDir%/sessions'


# application settings
application:
	errorPresenter: Error

	# application mapping
	mapping:
		*: ['App\Modules', '*', '*\*Presenter']


# enabling system container for Tracy bar
di:
	debugger: yes
	export:
		parameters: no
		tags: no


# strict parser mode
latte:
	strictParsing: true


# application extensions
extensions:
	- Drago\Localization\DI\TranslatorExtension(translateDir: %appDir%/locales)
