@import 'bootstrap';

//
// errors style for forms
//

.errors {
    background-color: $red;
    color: white;
    font-weight: 600;
    list-style: none;
    padding: .25rem .5rem;
    border-radius: .188rem;
}

.invalid-feedback {
    color: $red;
    display: block;
    margin-top: .25rem;
    padding: .375rem 0;
    font-weight: 600;
    @include font-size($font-size-sm);
    @include border-radius($border-radius);
}

//
// spinner for ajax
//

.spinner {
    position: fixed;
    width: 100%;
    height: 0.2rem;
    z-index: 9999;
    top: 0;

    &:before,
    &:after {
        content: '';
        position: absolute;
    }

    &:after {
        width: 15rem;
        height: 0.2rem;
        background: #2197f4;
        box-sizing: border-box;
        animation: anim 1.5s linear infinite;
    }

    @keyframes anim {
        0% { left: 0; transform: translateX(-100%) }
        100% { left: 100%; transform: translateX(0%) }
    }
}

//
// password hide/show
//

.password-toggle {
    position: relative;
    display: inline-block;
    width: 100%;

    input {
        padding-right: 2.1875rem;
        font-size: 1rem;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    .show-hide-ico {
        position: absolute;
        top: 50%;
        right: 0.625rem;
        z-index: 1;
        margin-top: -0.75rem;
        cursor: pointer;
        transition: .3s ease all;

        &.show {
            background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M2365 3829 c-835 -87 -1545 -705 -1756 -1529 -30 -115 -31 -127 -18%0A-164 26 -76 117 -109 184 -68 38 24 48 45 79 164 67 258 187 496 353 701 80%0A98 245 252 354 330 178 127 437 240 665 289 97 20 135 23 339 23 252 -1 324%0A-11 525 -76 130 -41 356 -155 469 -236 109 -78 274 -232 354 -330 168 -207%0A300 -473 362 -733 21 -87 37 -115 76 -136 95 -49 201 32 184 140 -15 87 -76%0A278 -127 397 -197 454 -545 820 -983 1035 -332 162 -705 230 -1060 193z'/%3E%3Cpath d='M2395 3055 c-310 -59 -567 -276 -674 -571 -39 -108 -53 -188 -52%0A-314 0 -215 72 -412 206 -568 270 -314 701 -408 1068 -234 311 148 507 458%0A508 801 1 124 -12 205 -48 305 -147 414 -578 662 -1008 581z m280 -250 c120%0A-21 245 -87 331 -174 123 -123 182 -253 191 -421 5 -76 2 -112 -15 -178 -34%0A-133 -75 -205 -172 -303 -132 -133 -264 -189 -450 -189 -182 0 -316 55 -445%0A184 -89 89 -131 154 -167 261 -19 59 -23 90 -23 195 1 109 4 134 27 198 60%0A166 171 293 322 368 138 68 253 85 401 59z'/%3E%3C/g%3E%3C/svg%3E");
            content: '';
            width: 1.625rem;
            height: 1.625rem;
        }

        &.hide {
            background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M600 4599 c-37 -15 -68 -48 -80 -85 -24 -72 -20 -76 467 -565 l455%0A-456 -79 -59 c-106 -79 -345 -320 -417 -422 -97 -137 -181 -284 -236 -414 -50%0A-119 -111 -310 -125 -394 -17 -108 89 -189 184 -140 39 21 55 49 76 136 77%0A323 241 616 475 851 69 70 166 156 215 193 l90 66 204 -204 204 -204 -34 -28%0Ac-156 -126 -272 -317 -315 -517 -20 -93 -20 -271 0 -365 71 -333 321 -593 656%0A-684 116 -31 326 -31 442 0 169 46 302 126 429 259 l77 80 548 -549 c376 -376%0A562 -555 591 -569 50 -24 89 -19 133 17 40 34 55 83 40 132 -10 30 -385 410%0A-1939 1965 -1320 1321 -1939 1934 -1967 1947 -45 22 -57 23 -94 9z m2500%0A-2772 c0 -4 -39 -48 -87 -96 -135 -136 -266 -191 -453 -191 -183 0 -318 56%0A-446 184 -124 125 -180 243 -191 407 -14 209 67 401 229 537 l63 52 442 -442%0Ac244 -244 443 -447 443 -451z'/%3E%3Cpath d='M2355 3828 c-98 -10 -275 -46 -368 -75 l-58 -18 103 -102 103 -102%0A95 22 c83 19 126 21 330 21 258 0 326 -9 530 -75 130 -41 356 -155 469 -236%0A109 -78 274 -232 354 -330 168 -207 300 -473 362 -733 21 -87 37 -115 76 -136%0A95 -49 201 32 184 140 -15 87 -76 278 -127 397 -197 454 -545 820 -983 1035%0A-335 163 -703 230 -1070 192z'/%3E%3Cpath d='M3020 2645 c234 -234 427 -425 429 -425 13 0 -14 157 -40 234 -92%0A277 -302 484 -579 574 -62 20 -172 42 -215 42 -13 0 117 -137 405 -425z'/%3E%3C/g%3E%3C/svg%3E");
            content: '';
            width: 1.625rem;
            height: 1.625rem;
        }
    }

    input[type="text"] {
        background-color: #f4f4f4;
    }
}
