<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- build:css style.min.css -->
    <link rel="stylesheet" href="{$basePath}/">
    <!-- /build -->

    <title>Title &bull; {include subtitle|stripHtml|firstUpper}</title>
</head>

<body>

    {* content block *}
    {include content|indent:1}

    <!-- build:js app.min.js -->
    <script src="{$basePath}/"></script>
    <!-- /build -->

</body>
</html>
